:root {
    /* ==================================================
    ====================== COLORES ======================
    ================================================== */
    --color-white: #EEE;
    --color-black: #111;

    --color-light: #DDD;
    --color-dark: #222;

    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-error: #dc3545;
    --color-info: #2563eb;
    --theme-color: #2563eb;

    /* ==================================================
    ================== TAMAÑOS TEXTOS ==================
    ================================================== */
    --text-tiny: 0.5rem;
    --text-normal: 1rem;
    --text-medium: 1.5rem;
    --text-large: 2rem;
    --text-extralarge: 3rem;

    /* ==================================================
    ========== TAMAÑOS ELEMENTOS CONTENEDORES ==========
    ================================================== */
    --size-xs: 0.5em;
    --size-sm: 1em;
    --size-md: 1.5em;
    --size-lg: 2em;
    --size-xl: 3em;
}